body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* HERO IMAGE */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("bg.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: gold;
    text-align: center;
}

/* SECTIONS */
section {
    padding: 40px;
    margin: 20px;
}

/* BUTTON */
.cta-btn {
    background: gold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

/* FORM */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* WHATSAPP */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
}
